@import '~antd/dist/antd.css';

h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.65);
}

body {
  padding: 30px;
  font-size: 1.2rem;
  font-family: 'Avenir Next';
}

.ant-form,
.ant-input,
.ant-input-group,
.ant-menu,
.ant-select,
.ant-radio-group,
.ant-alert {
  font-family: 'Avenir Next';
}

.field-container {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.flex-centered {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  button {
    margin-bottom: 20px;
  }
}

.toolbar-vertical {
  button {
    display: block;
    width: 100%;
  }
}

.col {
  padding-right: 20px;
  padding-bottom: 20px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3333%;
}

.col-4 {
  width: 25%;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'SF Mono', monospace;
  white-space: pre-wrap !important;
  word-wrap: break-word;
}

.ant-timeline-item-content {
  padding: 0 0 0 25px;
  position: relative;
  top: -15px;
}

.ant-timeline-item {
  padding: 0;
}

.rule-group:not(:first-of-type),
.rule {
  margin-left: 20px;
  margin-top: 20px;
}

.ui-area-header {
  margin: 20px 0;
}
